.App {
  display: flex;
  height: 100vh;
  background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-ae-042_5.jpg?auto=format&bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-1.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1200&s=6e00a36c286f539341732eb9501b8746');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poiret One', cursive;
}

.header {
  display: flex;
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
}

.title {
  margin: 0;
  font-family: 'Poiret One', cursive;
  font-weight: 100;
  font-size: 48px;
}

.info {
  font-size: 24px;
  text-decoration: none;
  color: rgb(28, 29, 29);
}

